@use "bootstrap";

/* Common */
a {
    text-decoration: none;
    color: initial;
}

/* Main */

main {
    overflow-y: auto;
    height: calc(100vh - 201.36px);
    background-image: url("https://image.khaleejtimes.com/?uuid=4d3d56e0-2cf9-494d-8f20-fc5c24681973&function=cropresize&type=preview&source=false&q=75&crop_w=0.8&crop_h=0.99999&x=0.1&y=0&width=1200&height=675");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.movies {
    .card {
        min-height: 280px;
        img {
            height: 100%;
            width: 100%;
        }
    }
}

.movie {
    .card {
        position: relative;
        background-color: paleturquoise;
        color: blue;
        .img_card {
            border: 2px solid green;
            border-radius: 50%;
            object-fit: contain;
            aspect-ratio: 1 / 1;
            width: 20%;
            position: absolute;
            top: 0;
            left: 20%;
            transform: translate(-50%, -50%);
            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }
        .card-body {
            padding: 2rem;
            span {
                color: green;
                font-weight: bold;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
}
